body{
    background-color: hsl(243, 96%, 9%);
    font-family: "DM Sans", serif;
    color: hsl(0, 0%, 100%);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    position: relative;
    top: 20px;
    left: 40px;
    width: 120px;
}

.unit_select *{
    background-color: hsl(243, 23%, 24%);
    border: 0px;  
    font-size: 18;
    color: hsl(0, 0%, 100%);
    max-width: 70%;
}
.unit_select {
    padding: 5px;
    background-color: hsl(243, 23%, 24%);
    border-radius: 3px;
    width: 85px;
    gap: 7px;
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
}

#Title{
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    text-align: center;
    margin: 3%;
    color: hsl(0, 0%, 100%);
}

.Search{
    text-align: center;
}
.Search >*{
    padding: 10px; 
}

input{
    background-color: hsl(243, 23%, 30%);
    border: 0cm;
    border-radius: 3px;
    color: hsl(0, 0%, 100%);
}
button{
    background-color: hsl(233, 67%, 56%);
    color:hsl(0, 0%, 100%);
    border: 0cm;
    border-radius: 3px;
}

.container{
    display: flex;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20px ;
}

.container .today{
    flex: 2;
    margin-left: 20px ;
    margin-right: 20px ;
}
.container .general_informations{
    background-image: url("assets/images/bg-today-large.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    display: flex;
    align-items: center;
}
.container .general_informations .right_side{
    flex:1; 
    text-align: right;
    align-items: center;
    font-size: 50px;
    font-weight: 100;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}
.container .general_informations .right_side img {
    height: 1em;  
    width: auto;
}

.container .general_informations .left_side{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;;
}
.container .general_informations .left_side p{
    font-size: 10px;
    margin-top: 10px;
}

.container .precise_info{
    display: flex;
    height: fit-content;
}
.container .precise_info > div {
    margin: 5px ;
    border-radius: 5px;
    padding: 10px;
    background-color: hsl(243, 23%, 30%);
    border: 10px;
    width: 25%;
    height: fit-content;
}
.container .precise_info > div h3{
    font-size: medium;
    font-weight: 400;
    padding-top: 15px;
}
.container .precise_info > div p{
    font-size: small;
    font-weight: 400;
}

.container .daily_forecast{
    display: flex;
}

.container .daily_forecast > div {
    gap: 10px;
    margin: 5px ;
    border-radius: 5px;
    padding: 10px;
    background-color: hsl(243, 23%, 30%);
    border: 3px;
    width: 25%;
}

.container .hourly_forecast{
    flex: 1;
    background-color: hsl(243, 23%, 24%);
    border-radius: 8px;
    padding: 10px;
}

.container .hourly_forecast > div {
    gap: 10px;
    margin: 15px ;
    border-radius: 5px;
    padding: 10px;
    background-color: hsl(243, 23%, 30%);
    border: 3px;
}
.container .hourly_forecast select{
    padding: 2px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(243, 23%, 30%);
    border-radius: 3px;
    width: 80px ;
    position: relative;
    top: 5px;
    right: 0px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }